/* body {
	font-family: Arial, sans-serif;
	background-image: url('background.jpg'); 
	background-size: cover;                 
	background-position: center;            
	background-repeat: no-repeat;           
	text-align: center;
	padding: 40px;
	margin: 0;
	min-height: 100vh;
} */

body {
	font-family: 'IM Fell English SC', sans-serif;
	background-image: url('/img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 40px;
	margin: 0;
	min-height: 100vh;
}

h1 {
	font-family: 'Creepster', cursive;
	color: darkred;
	font-size: 100px;
	text-shadow: 2px 2px 4px black, 0 10px 10px rgba(139, 0, 0, 0.6);
	margin-bottom: 30px;
}

.test-link {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
}

.button-wrapper {
	 position: relative;
	  display: inline-block;
	  width: 220px; /* même largeur que l'image */
}

.button-wrapper {
	position: absolute;
	overflow: hidden;
  }
  
.button-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	text-shadow: 0 0 5px black;
	text-align: center;
	pointer-events: none; /* pour que le clic passe à travers le texte */
	width: 100%;
	font-size: 1vw; /* ou ajustable selon le design */
}

.test-link img {
	width: 220px; /* adapte à ta taille idéale */
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.test-link:hover img {
	transform: scale(1.1);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.homepage {
	display: inline-block;
	font-size: 21px;
	padding: 10px 20px;
	background-color: #8da6ec;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
	margin-top: 40px;
}

.homepage:hover {
	background-color: #0300b2;
	transform: scale(1.2) rotate(5deg);
}

.homepage-button img{
	width: 220px;
	border-radius: 8px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homepage-button:hover img {
	transform: scale(1.1);
}